<<<<<<< HEAD
<div class="row pt-3 pb-2">
    <div class="col-12 d-flex justify-content-center">
        <p id="welcome-text">Welcome to trAilmix</p>
    </div>


    <div class="p-1 d-flex justify-content-between">
        <div class="col-12 col-md-3">
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
                <img src="images/ingredients.jpeg" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">Work with what you have</h5>
                    <p class="card-text">Or stop by the grocery store!</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
                <img src="images/time.jpg" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">Fast and Easy</h5>
                    <p class="card-text">Quick, time-saving meals!</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
                <img src="images/recipe.webp" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">Sign-Up and Save</h5>
                    <p class="card-text">Members have access to saving recipes!</p>
                </div>
            </div>
        </div>
=======
<div class="row align-items-center pt-3 pb-2">
    <div class="col-12">
        <p class="text-center" id="welcome-text">Welcome to trAilmix</p>
>>>>>>> main
    </div>
</div>

<div class="row justify-content-evenly">

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/ingredients.jpeg" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Use what you have</h5>
                <p class="card-text">ADD TEXT HERE</p>
            </div>
        </div>
    </div>

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/time.jpg" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Fast and Easy</h5>
                <p class="card-text">Quick, time-saving meals!</p>
            </div>
        </div>
    </div>

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/recipe.webp" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Use what you have</h5>
                <p class="card-text">ADD TEXT HERE</p>
            </div>
        </div>
    </div>

</div>