<div class="row align-items-center pt-3 pb-2">
    <div class="col-12">
        <p class="text-center" id="welcome-text">Welcome to trAilmix</p>
    </div>
</div>

<div class="row justify-content-evenly">

{{!-- Homepage floater cards placed into their own row --}}

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/ingredients.jpeg" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Use what you have</h5>
                <p class="card-text">Or stop by the store on your way home!</p>
            </div>
        </div>
    </div>

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/time.jpg" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Fast and Easy</h5>
                <p class="card-text">Quick, time-saving meals!</p>
            </div>
        </div>
    </div>

    <div class="col-10 col-md-3">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
            <img src="images/recipe.webp" class="card-img">
            <div class="card-body">
                <h5 class="card-title">Sign-Up & Save with Chef-GPT</h5>
                <p class="card-text">Save your recipes!</p>
            </div>
        </div>
    </div>

</div>