<div class="row">
  <div class="col-md-6">
    <h2>Log in</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="name-login">Username:</label>
        <input class="form-input" type="text" id="name-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log in</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Sign up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="./js/login.js"></script>
