<div class="row">
    <div class="col-10" <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Give your suggestion a title and save it below!</label>
                <input type="text" class="form-control" id="new-suggestion-title" placeholder="My great suggestion . . .">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Chef suggests . . .</label>
                <textarea class="form-control" id="new-suggestion-content" rows="3" placeholder="{{suggestion}}"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-end">
    <div class="col-12 col-md-4 col-lg-4">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#confirmModal"
            id="save-button">Save your recipe</button>
    </div>
</div>