<p>Profile</p>
{{#if suggestions.length}}

{{#each suggestions as |suggestion|}}
  <div class="card suggestion-card" data-number={{suggestion.id}} style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{suggestion.title}}</h5>
    </div>
  </div>
{{/each}}
{{/if}}


