{{#each suggestions as |Suggestions|}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{suggestions.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{suggestions.minutes}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ingredients}}</h6>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
{{/each}}
<!--Linkning Bootstrap-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>