<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add an ingredient" aria-label="ingredient"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="add-ingredient">Add</button>
        </div>

        <p>If you have a time constraint, let Chef know by checking the box below and entering how many minutes you'll be cooking.</p>

        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" value="">
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Check the box if you'll have time to stop by a grocery store.</label>
        </div>

        <p>Please select your dietary restrictions from the list below.</p>

        <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option value="none">Choose...</option>
                <option value="1">Nut Allergy</option>
                <option value="2">Low Sodium</option>
                <option value="3">Vegetarian</option>
                <option value="4">Vegan</option>
                <option value="5">Lactose Intolerance</option>
                <option value="6">Gluten-Free</option>
                <option value="7">Kosher</option>
                <option value="8">Halal</option>
                <option value="9">Keto</option>
                <option value="10">Paleo</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">Add</button>
        </div>

    </div>
</div>