{{!-- The entirety of this page represents a questionnaire and confirmation of its received input. The contents of this form are grabbed in public/js/request.js and sent to the back end where the OpenAI API returns a completion based on the hard-coded prompt and received input. --}}
<div id="whole-form">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 shadow p-3 bg-white mb-2">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add ingredient" aria-label="ingredient"
          aria-describedby="button-addon2" id="ingredient-input" />
        <button class="btn-add btn-outline-secondary text-white btn-mariano" type="button"
          id="add-ingredient">Add</button>
      </div>

      <p>
        <hr class="hr-blurry m-3" />
        If you have a time constraint, let Chef know by checking the box below and
        entering how many minutes you'll be cooking.
      </p>
      </hr>

      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input"
            id="time-constraint" />
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value="" id="minutes" />
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="grocery-store" />
        <label class="form-check-label" for="flexSwitchCheckDefault">Check the box
          if you'll have time to stop by a grocery store.</label>
      </div>
      <hr class="hr-blurry m-3" />
      <div class="diet-restrictions">
        <p>Please select your dietary restrictions from the list below.</p>
      </div>
      </hr>

      <div class="input-group">
        <select class="form-select" id="restriction-input" aria-label="restriction-options">
          <option value="none">Choose...</option>
          <option value="Nut Allergy" data-number="1">Nut Allergy</option>
          <option value="Low Sodium" data-number="2">Low Sodium</option>
          <option value="Vegetarian" data-number="3">Vegetarian</option>
          <option value="Vegan" data-number="4">Vegan</option>
          <option value="Lactose Intolerance" data-number="5">Lactose Intolerance</option>
          <option value="Gluten-Free" data-number="6">Gluten-Free</option>
          <option value="Kosher" data-number="7">Kosher</option>
          <option value="Halal" data-number="8">Halal</option>
          <option value="Keto" data-number="9">Keto</option>
          <option value="Paleo" data-number="10">Paleo</option>
        </select>
        <button class="btn-add btn-outline-secondary text-white btn-mariano" type="button"
          id="add-restriction">Add</button>
      </div>

    </div>

    <div class="col-12 col-md-4 col-lg-4 mb-2">
      <div class="card">
        <div class="card-header justify-content text-center list-group-item-success">
          <h4>🧂 Your Ingredients</h4>
        </div>
        <ul class="list-group list-group-flush ms-2">
          <li class="list-group-item " id="ingredient-list"></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 mb-2">
      <div class="card">
      <div class="card-header justify-content text-center list-group-item-success">
        <h4>❌ Meal Restrictions</h4>
      </div>
      <ul class="list-group list-group-flush ms-2">
        <li class="list-group-item" id="restriction-list">
        </li>
      </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center mt-4">
    <div class="col-12 col-md-4 col-lg-4">
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#confirmModal"
        id="send-button">Send In Your Order</button>
    </div>
  </div>

  {{!-- Confirmation model generated upon a user clicking the "Send" button above --}}

  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Is Your Order Complete?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body list-group-item list-group-item-success">
          <ul class="list-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4">
                  <h6>Ingredients</h6>
                  <li class="list-group list-group-flush" id="confirm-ingredient-list">
                  </li>
                </div>

                <div class="col-4">
                  <h6>Restrictions</h6>
                  <li id="confirm-restriction-list">

                  </li>
                </div>

                <div class="col-4" id="confirm-details">
                  <h6>Additional Details</h6>

                </div>
              </div>
            </div>
        </div>
        </ul>
        <div class="modal-footer justify-content-center text-center">
          <button type="button" class="btn btn-secondary" id="not-quite" data-bs-dismiss="modal">Not quite</button>
          <button type="button" class="btn btn-primary" id="yes-chef">Yes, Chef! 🧑‍🍳</button>
        </div>
      </div>
    </div>
  </div>
</div>