<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add an ingredient" aria-label="ingredient"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="add-ingredient">Add</button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" value="I have time to stop by a grocery store" readonly>
        </div>

        <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">Add</button>
        </div>
        
    </div>
</div>