<div class="row">
<div class="card bg-secondary shadow p-3 mb-5 bg-white rounded mx-auto col-12">
  <div class="card-header sugg-card text-black list-group-item-success text-capitalize">{{suggestion.title}}</div>
  {{!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">{{suggestion.content}}</li>
  </ul> --}}
  <pre>{{suggestion.content}}</pre>
</div>
</div>

