<div class="card text-white bg-secondary mx-auto" style="width: 18rem">
  {{#if suggestions.length}}
  <div class="card-header">Suggestions</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{prompt.content}}</li>
    <li class="list-group-item">{{suggestions.content}}</li>
    <li class="list-group-item">{{ingredients.name}}</li>
    <li class="list-group-item">{{restrictions.name}}</li>
  </ul>
</div>
{{/if}}

