<div class="card text-white bg-secondary mx-auto" style="width: 18rem">
  <div class="card-header">{{suggestion.title}}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{suggestion.content}}</li>
  </ul>
</div>


