.navbar,
#add-ingredient, 
#add-restriction {
    background-color: rgb(68, 131, 108);

}

#add-ingredient,
#add-restriction {
    color: black
}

#welcome-text {
    font-size: 60px;
    font-family: "Bree Serif", serif;
}

.shadowed-card,
{
    box-shadow: 5px 5px 7px rgb(220, 220, 220);
}
.navbar-brand {
    font-family: "Bree Serif"; serif;
    font-size: 35px;
}
h5, 
h2,
label,
#profile {
    font-family: "Bree Serif", serif;
}
.btn-match {
    background-color:rgb(68, 131, 108); 
    border: none;
    font-size: 18px;
}
.btn-match:hover {
background-color: rgb(99, 192, 158);;
}
#profile{
    font-size: 40px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}